.slider-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-top: 80px; /* 여백을 조정하여 슬라이드를 아래로 이동시킴 */
}

.slides {
    display: flex;
    transition: transform 2s ease-in-out;
}

.slide {
    min-width: calc(100% - 10000px / 3); /* 각 슬라이드의 너비를 1/3로 설정 */
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }


.slider-container3 {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-top: 180px; /* 여백을 조정하여 슬라이드를 아래로 이동시킴 */
}

.slides {
  display: flex;
  transition: transform 2s ease-in-out;
}

.slide {
  min-width: calc(100% - 10000px / 3); /* 각 슬라이드의 너비를 1/3로 설정 */
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }