.box03 {
    width: 1120px;
    height: 190px;
    /* border: 2px solid #333; */
    padding: 17px;
    box-sizing: border-box;
  
    position: absolute;
      top: 2000px;
      left: 50%;
      transform: translateX(-50%);
  }  